body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #c21212;
    color: #fff;
    padding: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img.logo {
    height: 50px;
    margin-left: 20px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
}

header nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

main {
    padding: 2em;
    background-color: #fff;
}

.welcome {
    text-align: center;
    margin-bottom: 2em;
}

.featured-products {
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

.product-card {
    background-color: #fff;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.product-card p {
    font-size: 1em;
    color: #333;
}

.product-card button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
}

.product-card button:hover {
    background-color: #9e3737;
}

footer {
    background-color: #b61b1b;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

h1 {
    padding-left: 5px ;
    margin-left: 10px;
}

